#conteudo {
    font-size: 1.5rem;
    width: 80%;
}

.secao {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    padding: 5% 4% 0% 4%;
}


.secao > details > ul {
    list-style: none;
    padding-left: 2rem;
    padding-top: 1rem;
}

.secao > details > ul > li {
    padding-top: 1.5rem;
    padding-bottom: 1rem;
    border-bottom: 1px dotted #736D6A;
}

.secao > details > summary:hover {
    cursor: pointer;
}

@media screen and (max-width:900px)  and (min-width:401px){
    #conteudo {
        padding-bottom: 20%;
    }
}

@media screen and (max-width:400px){
    #conteudo {
        padding-bottom: 40%;
        width: 100%;
    }

}